# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.project
.directory

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The Flutter tool build outputs
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android related
**/android/local.properties
**/android/key.properties
**/android/app/src/main/res/drawable-*/
**/android/app/src/main/res/mipmap-*/

# iOS related
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.h
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m

# Web related
**/web/index.html
**/web/manifest.json

# Coverage
doc/api/
ios/Flutter/.symlinks/
